<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

        @Styles.Render("~/bundles/bootstrap")
        @Styles.Render("~/bundles/dailyops")

        @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    @RenderBody()


    <footer class="footer">
        <div class="footer">

            <div class="pull-left">
                DailyOps
                <a href="/">About</a>,
                <a href="/planning">Manage your plans</a>,
                <a href="/execution">Todays tasks</a>
            </div>

            <div class="pull-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <div>
                        Signed in as <span style="font-weight:bold;" class="username">@User.Identity.Name</span>
                        <a href="/authn/logout">sign out</a>
                    </div>
                }
                else
                {
                    <div>
                        Unauthenticated
                        <a href="/authn/login">sign in</a>
                    </div>
                }
            </div>


        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
